<form action="/transaction/close" method="get" id="close-form">
  <div class="siimple-form">
    <div class="siimple-form-field">
      <div class="siimple-form-field-label">Transaction id</div>
      <input name="tid" type="text" class="siimple-input siimple-input--fluid" placeholder="1">
    </div>

    <div class="siimple-form-field">
      <div class="siimple-form-field-label">Rate closed (USD)</div>
      <input name="rate_closed" type="text" class="siimple-input siimple-input--fluid" placeholder="6543.21">
    </div>

    <div class="siimple-form-field">
      <div id="tclose" class="siimple-btn siimple-btn--red">Close</div>
    </div>
  </div>
</form>
<script>
$(function() {
  $('#tclose').click(function() {
    var form = $(this).closest('form');
    // form.attr('action', '/transaction/' + tid + '/close');
    form.submit();
  });
});
</script>
