<!--<form method="get">-->
  <div class="siimple-form">
    <div class="siimple-form-field">
      <div class="siimple-form-field-label">Transaction id</div>
      <input type="text" class="siimple-input siimple-input--fluid" placeholder="1">
    </div>

    <div class="siimple-form-field">
      <div class="siimple-form-field-label">Rate closed (USD)</div>
      <input type="text" class="siimple-input siimple-input--fluid" placeholder="6543.21">
    </div>

    <div class="siimple-form-field">
      <div class="siimple-btn siimple-btn--red">Close</div>
    </div>
  </div>
<!--</form>-->
