<form method="post" action="/transaction/add">
  <div class="siimple-form">
    <div class="siimple-form-title">Add new transaction</div>
    <div class="siimple-form-detail">Fill transaction details.</div>

    <div class="siimple-form-field">
      <label class="siimple-label">Select user</label>
      <select class="siimple-select">
        <option value="1" selected>Misha</option>
        <option value="2">Vlad</option>
      </select>
    </div>

    <div class="siimple-form-field">
      <div class="siimple-form-field-label">Amount (USD)</div>
      <input type="text" class="siimple-input siimple-input--fluid" placeholder="100">
    </div>

    <div class="siimple-form-field">
      <div class="siimple-form-field-label">Desired profit (USD)</div>
      <input type="text" class="siimple-input siimple-input--fluid" placeholder="100">
    </div>


    <div class="siimple-form-field">
      <div class="siimple-btn siimple-btn--blue">Add</div>
    </div>
  </div>
</form>
