{% extends "base.html" %}
{% block content %}
<div class="siimple-content siimple-content--extra-large">
  <div class="siimple-grid">
    <div class="siimple-grid-row">
      <div class="siimple-grid-col siimple-grid-col--9">
        <div class="siimple-alert siimple-alert--primary">
          <div class="siimple-close"></div>
          <div class="siimple-alert-title">Hi there!</div>
          Info message
        </div>

        {% include "components/transaction_table.html" %}

        <div align="center">
          <div class="siimple-card siimple--display-inline-block" style="max-width:33%;">
            <div class="siimple-card-header">Add transaction</div>
            <div class="siimple-card-body" align="left">
              {% include "modals/transaction_add.html" %}
            </div>
          </div>

          <div class="siimple-card siimple--display-inline-block" style="max-width:33%;">
            <div class="siimple-card-header">Close transaction</div>
            <div class="siimple-card-body" align="left">
              {% include "modals/transaction_close.html" %}
            </div>
          </div>

          <div class="siimple-card siimple--display-inline-block" style="max-width:33%;">
            <div class="siimple-card-header">Header</div>
            <div class="siimple-card-body" align="left">
              <div class="siimple-paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <div class="siimple-btn siimple-btn--fluid siimple-btn--success">Manage</div>
            </div>
          </div>
        </div>
      </div>
      <div class="siimple-grid-col siimple-grid-col--3">
        <div class="siimple-list siimple-list--hover">
          <div class="siimple-list-item">
            <div class="siimple-list-title">General</div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
          </div>
          <div class="siimple-list-item">
            <div class="siimple-list-title">Users management</div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
          </div>
          <div class="siimple-list-item">
            <div class="siimple-list-title">Applications</div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
          </div>
          <div class="siimple-list-item">
            <div class="siimple-list-title">Payments</div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
